In [1]:
# Initial imports
import pandas as pd
from path import Path
from sqlalchemy import create_engine
from config import db_password

In [20]:
# Load the cy_stats.csv dataset.
csv_path = Path("C:/Users/rafae/OneDrive/Desktop/FINAL_PROJECT/wnba_stats.csv")
stats_df = pd.read_csv(csv_path)
stats_df.head()

,Position,Season,Tm,Team,Age,G,W,L,W/L%,PW,...,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,opp_eFG%,opp_TOV%,opp_DRB%,opp_FT/FGA
0,1.0,1997-98,HOC,Houston Comets,28.8,28.0,18.0,10.0,0.6429,22.0,...,0.292,0.523,0.473,20.4,36.2,0.266,0.444,22.3,64.7,0.236
1,0.0,1997-98,PHM,Phoenix Mercury,27.9,28.0,16.0,12.0,0.5714,20.0,...,0.247,0.473,0.411,18.8,33.2,0.274,0.441,24.2,68.5,0.245
2,0.0,1997-98,NYL,New York Liberty,27.5,28.0,17.0,11.0,0.6071,17.0,...,0.198,0.482,0.439,21.3,34.6,0.236,0.422,22.7,64.7,0.246
3,0.0,1997-98,LAS,Los Angeles Sparks,25.5,28.0,14.0,14.0,0.5000,17.0,...,0.136,0.504,0.464,20.4,32.7,0.235,0.423,19.4,67.9,0.263
4,0.0,1997-98,CLR,Cleveland Rockers,28.1,28.0,15.0,13.0,0.5357,16.0,...,0.108,0.515,0.464,21.6,32.2,0.276,0.449,20.2,67.1,0.219

In [21]:
# remove usless columns
stats_df = stats_df.drop(['Team','Age','PW','PL','NRtg','FTr','3PAr'], axis=1)
stats_df.head()

,Position,Season,Tm,G,W,L,W/L%,MOV,SOS,SRS,...,Pace,TS%,eFG%,TOV%,ORB%,FT/FGA,opp_eFG%,opp_TOV%,opp_DRB%,opp_FT/FGA
0,1.0,1997-98,HOC,28.0,18.0,10.0,0.6429,6.32,-0.79,5.53,...,71.6,0.523,0.473,20.4,36.2,0.266,0.444,22.3,64.7,0.236
1,0.0,1997-98,PHM,28.0,16.0,12.0,0.5714,4.00,-0.48,3.38,...,74.7,0.473,0.411,18.8,33.2,0.274,0.441,24.2,68.5,0.245
2,0.0,1997-98,NYL,28.0,17.0,11.0,0.6071,2.39,-0.32,2.22,...,74.3,0.482,0.439,21.3,34.6,0.236,0.422,22.7,64.7,0.246
3,0.0,1997-98,LAS,28.0,14.0,14.0,0.5000,2.21,-0.23,1.63,...,77.1,0.504,0.464,20.4,32.7,0.235,0.423,19.4,67.9,0.263
4,0.0,1997-98,CLR,28.0,15.0,13.0,0.5357,1.79,-0.22,1.56,...,73.3,0.515,0.464,21.6,32.2,0.276,0.449,20.2,67.1,0.219

In [22]:
stats_df = stats_df.rename(columns={'W/L%': 'Win_pct', 'eFG%': 'eFG_pct','TS%': 'TS_pct', 'TOV%': 'TOV_pct', 'ORB%': 'ORB_pct' ,'FT/FGA': 'FT_FGA',
                                   'opp_eFG%': 'Opp_eFG_pct','opp_TS%': 'Opp_TS_pct', 'opp_TOV%': 'Opp_TOV_pct', 'opp_ORB%': 'Opp_ORB_pct', 'opp_FT/FGA': 'Opp_FT_FGA' })
stats_df.head()

,Position,Season,Tm,G,W,L,Win_pct,MOV,SOS,SRS,...,Pace,TS_pct,eFG_pct,TOV_pct,ORB_pct,FT_FGA,Opp_eFG_pct,Opp_TOV_pct,opp_DRB%,Opp_FT_FGA
0,1.0,1997-98,HOC,28.0,18.0,10.0,0.6429,6.32,-0.79,5.53,...,71.6,0.523,0.473,20.4,36.2,0.266,0.444,22.3,64.7,0.236
1,0.0,1997-98,PHM,28.0,16.0,12.0,0.5714,4.00,-0.48,3.38,...,74.7,0.473,0.411,18.8,33.2,0.274,0.441,24.2,68.5,0.245
2,0.0,1997-98,NYL,28.0,17.0,11.0,0.6071,2.39,-0.32,2.22,...,74.3,0.482,0.439,21.3,34.6,0.236,0.422,22.7,64.7,0.246
3,0.0,1997-98,LAS,28.0,14.0,14.0,0.5000,2.21,-0.23,1.63,...,77.1,0.504,0.464,20.4,32.7,0.235,0.423,19.4,67.9,0.263
4,0.0,1997-98,CLR,28.0,15.0,13.0,0.5357,1.79,-0.22,1.56,...,73.3,0.515,0.464,21.6,32.2,0.276,0.449,20.2,67.1,0.219

In [30]:
stats_df.to_csv('stats.csv')

In [23]:
# Load the cy_stats.csv dataset.
csv_path = Path("C:/Users/rafae/OneDrive/Desktop/FINAL_PROJECT/cy_stats.csv")
cy_stats_df = pd.read_csv(csv_path)
cy_stats_df

,Position,Season,Tm,Team,Age,G,W,L,W/L%,PW,...,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,opp_eFG%,opp_TOV%,opp_DRB%,opp_FT/FGA
0,0,2021-22,COS,Connecticut Sun,28.3,32,26,6,0.8125,28,...,0.298,0.543,0.497,15.9,31.2,0.220,0.459,16.1,82.1,0.201
1,1,2021-22,LVA,Las Vegas Aces,26.4,32,24,8,0.7500,26,...,0.192,0.559,0.508,12.6,21.3,0.255,0.464,12.5,80.0,0.165
2,0,2021-22,SES,Seattle Storm,28.1,32,21,11,0.6563,22,...,0.328,0.556,0.512,13.9,20.9,0.206,0.483,14.4,78.6,0.180
3,0,2021-22,MLY,Minnesota Lynx,27.6,32,22,10,0.6875,21,...,0.296,0.553,0.508,15.8,22.3,0.218,0.476,14.6,79.7,0.194
4,0,2021-22,PHM,Phoenix Mercury,28.4,32,19,13,0.5938,19,...,0.332,0.553,0.507,14.7,23.8,0.235,0.466,11.3,75.1,0.167
5,0,2021-22,CSK,Chicago Sky,28.4,32,16,16,0.5000,18,...,0.304,0.538,0.493,15.1,23.8,0.205,0.480,15.9,73.9,0.212
6,0,2021-22,DAW,Dallas Wings,24.8,32,14,18,0.4375,15,...,0.327,0.521,0.477,14.1,27.8,0.193,0.505,14.1,77.6,0.206
7,0,2021-22,WAM,Washington Mystics,28.7,32,12,20,0.3750,11,...,0.396,0.519,0.475,13.7,21.9,0.203,0.520,15.3,76.4,0.208
8,0,2021-22,LAS,Los Angeles Sparks,27.5,32,12,20,0.3750,10,...,0.306,0.501,0.462,15.4,17.4,0.181,0.476,19.2,71.4,0.267
9,0,2021-22,ATD,Atlanta Dream,27.4,32,8,24,0.2500,9,...,0.269,0.489,0.459,12.1,24.6,0.154,0.520,16.8,73.7,0.234
10,0,2021-22,NYL,New York Liberty,25.7,32,12,20,0.3750,7,...,0.420,0.541,0.504,18.2,18.4,0.181,0.488,13.2,75.2,0.203
11,0,2021-22,INF,Indiana Fever,27.3,32,6,26,0.1875,5,...,0.253,0.498,0.453,15.4,27.4,0.199,0.517,13.6,75.6,0.222

In [25]:
# remove usless columns
cy_stats_df = cy_stats_df.drop(['Team','Age','PW','PL','NRtg','FTr','3PAr'], axis=1)
cy_stats_df.head()

,Position,Season,Tm,G,W,L,W/L%,MOV,SOS,SRS,...,Pace,TS%,eFG%,TOV%,ORB%,FT/FGA,opp_eFG%,opp_TOV%,opp_DRB%,opp_FT/FGA
0,0,2021-22,COS,32,26,6,0.8125,9.81,-0.95,8.86,...,74.0,0.543,0.497,15.9,31.2,0.220,0.459,16.1,82.1,0.201
1,1,2021-22,LVA,32,24,8,0.7500,9.06,-0.62,8.44,...,80.8,0.559,0.508,12.6,21.3,0.255,0.464,12.5,80.0,0.165
2,0,2021-22,SES,32,21,11,0.6563,4.44,-0.63,3.80,...,78.2,0.556,0.512,13.9,20.9,0.206,0.483,14.4,78.6,0.180
3,0,2021-22,MLY,32,22,10,0.6875,4.00,-0.37,3.63,...,78.7,0.553,0.508,15.8,22.3,0.218,0.476,14.6,79.7,0.194
4,0,2021-22,PHM,32,19,13,0.5938,2.56,-0.12,2.45,...,76.4,0.553,0.507,14.7,23.8,0.235,0.466,11.3,75.1,0.167

In [26]:
cy_stats_df = cy_stats_df.rename(columns={'W/L%': 'Win_pct', 'eFG%': 'eFG_pct','TS%': 'TS_pct', 'TOV%': 'TOV_pct', 'ORB%': 'ORB_pct' ,'FT/FGA': 'FT_FGA',
                                   'opp_eFG%': 'Opp_eFG_pct','opp_TS%': 'Opp_TS_pct', 'opp_TOV%': 'Opp_TOV_pct', 'opp_ORB%': 'Opp_ORB_pct', 'opp_FT/FGA': 'Opp_FT_FGA' })
cy_stats_df.head()

,Position,Season,Tm,G,W,L,Win_pct,MOV,SOS,SRS,...,Pace,TS_pct,eFG_pct,TOV_pct,ORB_pct,FT_FGA,Opp_eFG_pct,Opp_TOV_pct,opp_DRB%,Opp_FT_FGA
0,0,2021-22,COS,32,26,6,0.8125,9.81,-0.95,8.86,...,74.0,0.543,0.497,15.9,31.2,0.220,0.459,16.1,82.1,0.201
1,1,2021-22,LVA,32,24,8,0.7500,9.06,-0.62,8.44,...,80.8,0.559,0.508,12.6,21.3,0.255,0.464,12.5,80.0,0.165
2,0,2021-22,SES,32,21,11,0.6563,4.44,-0.63,3.80,...,78.2,0.556,0.512,13.9,20.9,0.206,0.483,14.4,78.6,0.180
3,0,2021-22,MLY,32,22,10,0.6875,4.00,-0.37,3.63,...,78.7,0.553,0.508,15.8,22.3,0.218,0.476,14.6,79.7,0.194
4,0,2021-22,PHM,32,19,13,0.5938,2.56,-0.12,2.45,...,76.4,0.553,0.507,14.7,23.8,0.235,0.466,11.3,75.1,0.167

In [31]:
cy_stats_df.to_csv('cy_stats1.csv')

In [27]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/wnba_champs"

In [28]:

engine = create_engine(db_string)

In [19]:
stats_df.to_sql(name='stats', con=engine)

ValueError: Table 'stats' already exists.

In [29]:
cy_stats_df.to_sql(name='cy_stats', con=engine)

ValueError: Table 'cy_stats' already exists.