### ETL_wnba_stats
### loading data to PostgreSQl database wnba_champs

In [1]:
# Import our dependencies
import pandas as pd
from path import Path
from sqlalchemy import create_engine
from config import db_password

In [2]:
# Load the season_stats.csv dataset.
csv_path = Path("./Data/wmba_stats.csv")
stats_df = pd.read_csv(csv_path)
stats_df.head()

,Position,Season,Tm,Team,Age,W,L,W/L%,PW,PL,...,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,opp_eFG%,opp_TOV%,opp_DRB%,opp_FT/FGA
0,1,1997-98,HOC,Houston Comets,28.8,18,10,0.6429,22,6,...,0.292,0.523,0.473,20.4,36.2,0.266,0.444,22.3,64.7,0.236
1,0,1997-98,PHM,Phoenix Mercury,27.9,16,12,0.5714,20,8,...,0.247,0.473,0.411,18.8,33.2,0.274,0.441,24.2,68.5,0.245
2,0,1997-98,NYL,New York Liberty,27.5,17,11,0.6071,17,11,...,0.198,0.482,0.439,21.3,34.6,0.236,0.422,22.7,64.7,0.246
3,0,1997-98,LAS,Los Angeles Sparks,25.5,14,14,0.5000,17,11,...,0.136,0.504,0.464,20.4,32.7,0.235,0.423,19.4,67.9,0.263
4,0,1997-98,CLR,Cleveland Rockers,28.1,15,13,0.5357,16,12,...,0.108,0.515,0.464,21.6,32.2,0.276,0.449,20.2,67.1,0.219

In [3]:
# remove usless columns
stats_df = stats_df.drop(['Team'], axis=1)
stats_df.head()

,Position,Season,Tm,Age,W,L,W/L%,PW,PL,MOV,...,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,opp_eFG%,opp_TOV%,opp_DRB%,opp_FT/FGA
0,1,1997-98,HOC,28.8,18,10,0.6429,22,6,6.32,...,0.292,0.523,0.473,20.4,36.2,0.266,0.444,22.3,64.7,0.236
1,0,1997-98,PHM,27.9,16,12,0.5714,20,8,4.00,...,0.247,0.473,0.411,18.8,33.2,0.274,0.441,24.2,68.5,0.245
2,0,1997-98,NYL,27.5,17,11,0.6071,17,11,2.39,...,0.198,0.482,0.439,21.3,34.6,0.236,0.422,22.7,64.7,0.246
3,0,1997-98,LAS,25.5,14,14,0.5000,17,11,2.21,...,0.136,0.504,0.464,20.4,32.7,0.235,0.423,19.4,67.9,0.263
4,0,1997-98,CLR,28.1,15,13,0.5357,16,12,1.79,...,0.108,0.515,0.464,21.6,32.2,0.276,0.449,20.2,67.1,0.219

In [4]:
# renaming columns
stats_df = stats_df.rename(columns={'W/L%': 'Win_pct', 'eFG%': 'eFG_pct','TS%': 'TS_pct', 'TOV%': 'TOV_pct', 'ORB%': 'ORB_pct' ,'FT/FGA': 'FT_FGA',
                                   'opp_eFG%': 'Opp_eFG_pct','opp_TS%': 'Opp_TS_pct', 'opp_TOV%': 'Opp_TOV_pct', 'opp_ORB%': 'Opp_ORB_pct', 'opp_FT/FGA': 'Opp_FT_FGA' })
stats_df.head()

,Position,Season,Tm,Age,W,L,Win_pct,PW,PL,MOV,...,3PAr,TS_pct,eFG_pct,TOV_pct,ORB_pct,FT_FGA,Opp_eFG_pct,Opp_TOV_pct,opp_DRB%,Opp_FT_FGA
0,1,1997-98,HOC,28.8,18,10,0.6429,22,6,6.32,...,0.292,0.523,0.473,20.4,36.2,0.266,0.444,22.3,64.7,0.236
1,0,1997-98,PHM,27.9,16,12,0.5714,20,8,4.00,...,0.247,0.473,0.411,18.8,33.2,0.274,0.441,24.2,68.5,0.245
2,0,1997-98,NYL,27.5,17,11,0.6071,17,11,2.39,...,0.198,0.482,0.439,21.3,34.6,0.236,0.422,22.7,64.7,0.246
3,0,1997-98,LAS,25.5,14,14,0.5000,17,11,2.21,...,0.136,0.504,0.464,20.4,32.7,0.235,0.423,19.4,67.9,0.263
4,0,1997-98,CLR,28.1,15,13,0.5357,16,12,1.79,...,0.108,0.515,0.464,21.6,32.2,0.276,0.449,20.2,67.1,0.219

In [5]:
#Load the cy_stats.csv dataset (current year).
csv_path = Path("./Data/cy_wnba_stats.csv")
cy_stats_df = pd.read_csv(csv_path)
cy_stats_df

FileNotFoundError: [Errno 2] No such file or directory: Path('./Data/cy_wnba_stats.csv')

In [6]:
# remove usless columns
cy_stats_df = cy_stats_df.drop(['Team'], axis=1)
cy_stats_df.head()

,Position,Season,Tm,Age,W,L,W/L%,PW,PL,MOV,...,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,opp_eFG%,opp_TOV%,opp_DRB%,opp_FT/FGA
0,0,2021-22,COS,28.3,26,6,0.8125,28,4,9.81,...,0.298,0.543,0.497,15.9,31.2,0.220,0.459,16.1,82.1,0.201
1,1,2021-22,LVA,26.4,24,8,0.7500,26,6,9.06,...,0.192,0.559,0.508,12.6,21.3,0.255,0.464,12.5,80.0,0.165
2,0,2021-22,SES,28.1,21,11,0.6563,22,10,4.44,...,0.328,0.556,0.512,13.9,20.9,0.206,0.483,14.4,78.6,0.180
3,0,2021-22,MLY,27.6,22,10,0.6875,21,11,4.00,...,0.296,0.553,0.508,15.8,22.3,0.218,0.476,14.6,79.7,0.194
4,0,2021-22,PHM,28.4,19,13,0.5938,19,13,2.56,...,0.332,0.553,0.507,14.7,23.8,0.235,0.466,11.3,75.1,0.167

In [7]:
# renaming cy_stats.cvs (current year).
cy_stats_df = cy_stats_df.rename(columns={'W/L%': 'Win_pct', 'eFG%': 'eFG_pct','TS%': 'TS_pct', 'TOV%': 'TOV_pct', 'ORB%': 'ORB_pct' ,'FT/FGA': 'FT_FGA',
                                   'opp_eFG%': 'Opp_eFG_pct','opp_TS%': 'Opp_TS_pct', 'opp_TOV%': 'Opp_TOV_pct', 'opp_ORB%': 'Opp_ORB_pct', 'opp_FT/FGA': 'Opp_FT_FGA' })
cy_stats_df.head()

,Position,Season,Tm,Age,W,L,Win_pct,PW,PL,MOV,...,3PAr,TS_pct,eFG_pct,TOV_pct,ORB_pct,FT_FGA,Opp_eFG_pct,Opp_TOV_pct,opp_DRB%,Opp_FT_FGA
0,0,2021-22,COS,28.3,26,6,0.8125,28,4,9.81,...,0.298,0.543,0.497,15.9,31.2,0.220,0.459,16.1,82.1,0.201
1,1,2021-22,LVA,26.4,24,8,0.7500,26,6,9.06,...,0.192,0.559,0.508,12.6,21.3,0.255,0.464,12.5,80.0,0.165
2,0,2021-22,SES,28.1,21,11,0.6563,22,10,4.44,...,0.328,0.556,0.512,13.9,20.9,0.206,0.483,14.4,78.6,0.180
3,0,2021-22,MLY,27.6,22,10,0.6875,21,11,4.00,...,0.296,0.553,0.508,15.8,22.3,0.218,0.476,14.6,79.7,0.194
4,0,2021-22,PHM,28.4,19,13,0.5938,19,13,2.56,...,0.332,0.553,0.507,14.7,23.8,0.235,0.466,11.3,75.1,0.167

In [8]:
# Load the cy_stats2.csv dataset.(dummy year)
csv_path = Path("./Data/cy_wnba_stats2.csv")
cy_stats2_df = pd.read_csv(csv_path)
cy_stats2_df

,Position,Season,Tm,Team,Age,W,L,W/L%,PW,PL,...,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,opp_eFG%,opp_TOV%,opp_DRB%,opp_FT/FGA
0,1,2016-17,MLY,Minnesota Lynx,30.6,28,6,0.8235,28,6,...,0.175,0.551,0.500,14.8,30.2,0.254,0.458,16.7,75.6,0.233
1,0,2016-17,LAS,Los Angeles Sparks,28.7,26,8,0.7647,26,8,...,0.245,0.574,0.533,15.9,22.3,0.229,0.471,16.1,73.2,0.201
2,1,2017-18,SES,Seattle Storm,27.6,15,19,0.4412,17,17,...,0.314,0.574,0.530,16.5,20.8,0.236,0.491,14.8,71.1,0.207
3,0,2017-18,DAW,Dallas Wings,24.8,16,18,0.4706,13,21,...,0.295,0.521,0.453,14.3,29.9,0.308,0.521,16.0,72.7,0.261
4,1,2018-19,WAM,Washington Mystics,27.9,22,12,0.6471,21,13,...,0.344,0.558,0.510,13.0,25.5,0.223,0.496,14.9,72.7,0.223
5,0,2018-19,ATD,Atlanta Dream,27.4,23,11,0.6765,20,14,...,0.263,0.514,0.468,13.5,26.8,0.231,0.468,15.2,72.7,0.203
6,0,2019-20,INF,Indiana Fever,26.0,13,21,0.3824,13,21,...,0.244,0.508,0.464,14.4,26.5,0.202,0.473,13.7,72.7,0.205
7,0,2019-20,NYL,New York Liberty,26.5,10,24,0.2941,7,27,...,0.282,0.504,0.461,16.0,25.6,0.193,0.491,13.8,73.2,0.242
8,1,2020-21,CSK,Chicago Sky,27.2,12,10,0.5455,13,9,...,0.317,0.580,0.547,16.6,23.3,0.178,0.503,15.0,76.4,0.205
9,0,2020-21,PHM,Phoenix Mercury,28.0,13,9,0.5909,13,9,...,0.366,0.564,0.513,15.5,22.2,0.259,0.477,14.2,73.1,0.233
10,1,2021-22,LVA,Las Vegas Aces,26.4,24,8,0.7500,26,6,...,0.192,0.559,0.508,12.6,21.3,0.255,0.464,12.5,80.0,0.165
11,0,2021-22,COS,Connecticut Sun,28.3,26,6,0.8125,28,4,...,0.298,0.543,0.497,15.9,31.2,0.220,0.459,16.1,82.1,0.201

In [9]:
# renaming columns cy_stats2
cy_stats2_df = cy_stats2_df.rename(columns={'W/L%': 'Win_pct', 'eFG%': 'eFG_pct','TS%': 'TS_pct', 'TOV%': 'TOV_pct', 'ORB%': 'ORB_pct' ,'FT/FGA': 'FT_FGA',
                                   'opp_eFG%': 'Opp_eFG_pct','opp_TS%': 'Opp_TS_pct', 'opp_TOV%': 'Opp_TOV_pct', 'opp_ORB%': 'Opp_ORB_pct', 'opp_FT/FGA': 'Opp_FT_FGA' })
cy_stats2_df.head()

,Position,Season,Tm,Team,Age,W,L,Win_pct,PW,PL,...,3PAr,TS_pct,eFG_pct,TOV_pct,ORB_pct,FT_FGA,Opp_eFG_pct,Opp_TOV_pct,opp_DRB%,Opp_FT_FGA
0,1,2016-17,MLY,Minnesota Lynx,30.6,28,6,0.8235,28,6,...,0.175,0.551,0.500,14.8,30.2,0.254,0.458,16.7,75.6,0.233
1,0,2016-17,LAS,Los Angeles Sparks,28.7,26,8,0.7647,26,8,...,0.245,0.574,0.533,15.9,22.3,0.229,0.471,16.1,73.2,0.201
2,1,2017-18,SES,Seattle Storm,27.6,15,19,0.4412,17,17,...,0.314,0.574,0.530,16.5,20.8,0.236,0.491,14.8,71.1,0.207
3,0,2017-18,DAW,Dallas Wings,24.8,16,18,0.4706,13,21,...,0.295,0.521,0.453,14.3,29.9,0.308,0.521,16.0,72.7,0.261
4,1,2018-19,WAM,Washington Mystics,27.9,22,12,0.6471,21,13,...,0.344,0.558,0.510,13.0,25.5,0.223,0.496,14.9,72.7,0.223

In [10]:
# remove usless columns
cy_stats2_df = cy_stats2_df.drop(['Team'], axis=1)
cy_stats2_df.head()

,Position,Season,Tm,Age,W,L,Win_pct,PW,PL,MOV,...,3PAr,TS_pct,eFG_pct,TOV_pct,ORB_pct,FT_FGA,Opp_eFG_pct,Opp_TOV_pct,opp_DRB%,Opp_FT_FGA
0,1,2016-17,MLY,30.6,28,6,0.8235,28,6,8.82,...,0.175,0.551,0.500,14.8,30.2,0.254,0.458,16.7,75.6,0.233
1,0,2016-17,LAS,28.7,26,8,0.7647,26,8,7.09,...,0.245,0.574,0.533,15.9,22.3,0.229,0.471,16.1,73.2,0.201
2,1,2017-18,SES,27.6,15,19,0.4412,17,17,0.00,...,0.314,0.574,0.530,16.5,20.8,0.236,0.491,14.8,71.1,0.207
3,0,2017-18,DAW,24.8,16,18,0.4706,13,21,-2.65,...,0.295,0.521,0.453,14.3,29.9,0.308,0.521,16.0,72.7,0.261
4,1,2018-19,WAM,27.9,22,12,0.6471,21,13,3.06,...,0.344,0.558,0.510,13.0,25.5,0.223,0.496,14.9,72.7,0.223

### Initializing database connection

In [163]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/wnba_champs"

In [164]:
engine = create_engine(db_string)

### Loading data to wnba_champs database

In [ ]:
stats_df.to_sql(name='stats', con=engine)

In [166]:
cy_stats_df.to_sql(name='cy_stats', con=engine)

In [167]:
cy_stats2_df.to_sql(name='cy_stats2', con=engine)